@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-family: $primary-font !important;
	font-size: 18px;
	font-weight: 400;
	color: $text-color;
}

body, html {
	height: auto !important;
}

* {
	outline: none !important;
}

h1,h2,h3,h4,h5{
	font-family: $primary-font !important;
}

p {
	margin-bottom: 30px;
}

.ui.grid {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.tablet-hidden{
	@media screen and (max-width: 992px){
		display: none !important;
	}
}
.mobile-hidden{
	@media screen and (max-width: 480px){
		display: none !important;
	}
}


.desctop-only{
	@media screen and (max-width: 992px){
		display: none !important;
	}
}

.mobile-only{
	display: none;
	@media screen and (max-width: 992px){
		display: block;
	}
}
/* a{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	&:hover{
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
} */
