.main-contact-form {
  text-align: center;
  label {
    font-size: 15px;
    width: 10%;
    text-align: right;
    display: inline-block;
    @media screen and (max-width: 1200px) {
      display: block;
      width: auto;
      text-align: left;
      margin-bottom: 5px;
    }
  }
  input, select, textarea {
    width: 100%;
    -webkit-appearance: none;
    max-width: 470px;
    vertical-align: middle;
    border: 1px solid $contact-form-border;
    padding: 12px 15px;
    font-size: 15px;
    line-height: 1;
    background: #fff;
    border-radius: 10px;
    color: #595555;
    font-family: $primary-font;
    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
  }
  .container-button {
    max-width: calc(470px + 10%);
    margin: 0 auto;
    text-align: right;
    margin-top: 85px;
    input {
      display: block;
      margin-left: auto;
      font-family: $primary-font;
      font-size: 24px;
      color: $white;
      padding: 14px 0px;
      text-align: center;
      line-height: 1;
      background-color: $text-color;
      max-width: 175px;
      @media screen and (max-width: 992px) {
        margin: 0 auto;
      }
    }
  }
  .cf7sr-g-recaptcha {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 470px;
    padding-left: 85px;
    &>div{
      margin: 0 auto;
    }
    @media screen and (max-width: 1200px){
     padding-left: 0px;
   }
   @media screen and (max-width: 992px){
    display: inline-block;
    margin-top: 15px;
  }
  @media screen and (max-width: 400px){
    transform:scale(0.8);
    margin-left: -53px;
    margin-right: -53px;
  }
}
}