.featured-wrapper{
	&.desctop-only{
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		min-height: 400px;
		.featured-caruosel-column{
			&:first-child{
				flex: 1 1 auto;
				position: relative;
				max-width: 100%;
			}
			&:last-child{
				flex: 0 0 300px;
				background: #fff;
				border: 1px solid #E0E0E0;
				border-left: 0;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				.featured-title-wrapper{
					height: 100%;
					flex:none;
					border:0;
					//border-radius: 0;
				}
			}
			.featured-thumb-block{
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				.JS-featured-carousel-desctop,.owl-stage-outer,.owl-stage, .owl-item{
					height: 100%;
					margin: 0;
					display: block !important;
				}
				.owl-item{
					padding: 0 !important;
				}
				.featured-thumb-carousel{
					z-index: 1;
					width: 100%;
					height: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					border: 1px solid #E0E0E0;
					border-right: 0;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				.text{
					position: absolute;
					left: 10px;
					bottom: 10px;
					color: #fff;
					z-index: 7;
					text-transform: uppercase;
					font-weight: 700;
					padding: 3px 10px;
					background-color: #4E6D6A;
				}
			}
		}
	}
}