footer{
	background-color: $black;
	padding: 20px 0px 20px;
	.footer-content{
		display: flex;
		@media screen and (max-width: 769px){
			//padding: 0px 25px;
			flex-wrap: wrap;
			flex-direction:column;
			padding: 0;
		}
		.footer-column{
			width: 60%;
			padding-top: 50px;
			@media screen and (max-width: 769px){
				width: 100%;
				text-align: center;
				order:1;
			}
			&:first-child{
				width: 40%;
				@media screen and (max-width: 769px){
					width:100%;
					padding-top: 0;
				}
			}
			&:last-child{
				@media screen and (min-width: 1025px){
					//padding-left: 35px;
					//border-left: 1px solid #1b1b1b;
				}
				@media screen and (max-width: 769px){
					order:1;
					margin-bottom: 0px;
					width: 100%;
				}
			}
			.footer-nav{
				display: flex;
				@media screen and (max-width: 769px){
					flex-direction:column;
				}
				.column{
					width: 50%;
					@media screen and (max-width: 769px){
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
					}
				}
				.footer-nav-list{
					margin-bottom: 55px;
					list-style-type: none;
					padding: 0;
					margin-top: 0;
					@media screen and (max-width: 769px){
						text-align: center;
					}
					li{
						margin-bottom: 5px;
						a{
							color:$white;
							font-size: 12px;
							&:hover{
								color:$teal;
							}
						}
					}
				}
				.footer-social-nav{
					padding: 0;
					@media screen and (max-width: 769px){
						text-align: center;
					}
					li{
						display: inline-block;
						a{
							i{
								color:$white;
								font-size: 28px;
								width: auto;
							}
						}
						&:not(:last-child){
							a{
								i{
									margin-right: 20px;
								}
							}
						}
					}
				}
			}
			.footer-caption{
				font-size: 18px;
				color:$teal;
				text-transform: uppercase;
				margin-bottom: 25px;
				@media screen and (max-width: 769px){
					text-align: center;
				}
			}
			img{
				display: block;
				max-width: 100%;
				margin: 0 auto;
				height: auto;
				margin-top: 50px;
			}
			.copyright-text{
				font-size: 12px;
				color:$white;
				@media screen and (max-width: 769px){
					text-align: center;
					margin: 30px 0px;
				}
				@media screen and (max-width: 480px){
					margin-bottom: 10px;
				}
			}
			.footer-text{
				color:$white;
				font-size: 12px;
			}
			.footer-form{
				margin-top: 25px;
				width: 270px;
				.es_msg {
					font-size: 0.9em;
					margin-top: 10px;
					color: #fff;
					text-align: center;
				}
				.es_caption{
					font-size: 12px;
					color:$white;
					line-height: 1;
					padding: 0;
					margin-bottom: 20px;
				}
				.es_lablebox{
					display: none !important;
				}
				@media screen and (max-width: 769px){
					margin: 0 auto;
				}
				.es_textbox,.es_button{
					padding: 0;
				}
				input[type="text"]{
					font-size: 12px;
					width: 100%;
					padding: 10px 15px;
					font-family: $primary-font;
					color:$footer-input;
					border:none;
					border-radius: 0;
					margin-bottom: 15px;
				}
				input[type="button"]{
					font-size: 14px;
					font-family: $primary-font;
					color:$white;
					display: block;
					background-color: $footer-button-bg;
					margin: 0 auto;
					border:0;
					padding: 10px 0px;
					line-height: 1;
					border-radius: 5px;
				}
			}
		}
	}
}


