header{
	.header-wrapper{
		padding: 15px 25px;
		background-color: $black;
		@media screen and (max-width: 1024px){
			padding: 15px 10px 30px;
		}
		@media screen and (max-width: 480px){
			padding: 15px 10px 25px;
		}
		.main-menu-wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 1024px){
				flex-wrap:wrap;
			}
			.menu-nav{
				width: 33.3% !important;
				min-width: 234px;
				#mega-menu-header-menu{
					text-align: right !important;
					@media screen and (max-width:1024px){
						text-align: center !important;	
					}
					&>li{
						&:last-child{
							a{
								padding-right:0 !important;
							}
						}
					}
				}
			}
			.mega-menu-wrap{
				background-color: transparent !important;
				.mega-menu{
					.active a {
						color:$teal !important;
					}
					.mega-menu-item{
						&.mega-current-menu-item{
							.mega-menu-link{
								color:$teal !important;
								background-color: transparent !important;
							}
						}
						.mega-menu-link{
							text-transform: uppercase !important;
							font-size: 14px !important;
							color:$white !important;
							padding: 0px 15px !important;
							background-color: transparent !important;
							position: relative;
							z-index: 10000;
							&:hover{
								background-color: transparent !important;
							}
							&:after{
								display: none !important;
							}
						}
						&:first-child{
							position: relative !important;
							.mega-sub-menu{
								top:58px !important;
								background-color: $white !important;
								min-width: 520px;
								left: 50% !important;
								transform: translate(-50%,0);
								padding-bottom: 25px !important;
								border-radius: 10px !important;
								box-shadow:2px 2px 10px 0px rgba(50, 50, 50, 0.75) !important;
								@media screen and (max-width: 1320px){
									left:90% !important;
									transform: translate(-90%,0);
								}
								&:before{
									position: absolute;
									content: "";
									display: block !important;
									top: -46px;
									left: 50%;
									transform:translate(-50%, 0);
									border: 26px solid transparent;
									border-bottom: 20px solid #fff;
									@media screen and (max-width: 1320px){
										left: 88%;
										transform: translate(-88%, 0);
									}
								}
								& > li{
									padding: 20px 30px !important;
									.mega-block-title{
										font-size: 16px !important;
										color:#807f7f !important;
										text-transform: capitalize !important;
										font-weight: 400 !important;
										margin-bottom: 10px !important;
									}
									ul{
										li{
											margin: 0;
											float: left;
											width: 33.3%;
											a{
												font-size: 14px;
												color:$main-sub-menu-color;
												text-transform: capitalize;
												&:hover{
													color:$teal;
													text-decoration: underline;
												}
											}
										}
									}
								}
							}
						}
						&:last-child{
							position: relative !important;
							.mega-sub-menu{
								top:58px !important;
								background-color: $white !important;
								min-width: 980px;
								left: 96% !important;
								transform: translate(-96%,0);
								border-radius: 10px !important;
								box-shadow:2px 2px 10px 0px rgba(50, 50, 50, 0.75) !important;
								@media screen and (max-width: 1160px){
									min-width: 760px;
									left: 100%;
									transform: translate(-100%,0);
								}
								&:before{
									position: absolute;
									content: "";
									display: block !important;
									top: -46px;
									left: 89.3%;
									transform:translate(-89%, 0);
									border: 26px solid transparent;
									border-bottom: 20px solid #fff;
								}
								& > li{
									padding: 20px 45px 20px 15px !important;
									&>a{
										font-size: 14px;
										color:$teal;
										text-transform: capitalize;
										width: 49%;
										display: inline-block;
										text-align: right;
										i{
											display: none;
										}
									}
									.mega-block-title{
										font-size: 16px !important;
										color:#807f7f !important;
										text-transform: capitalize !important;
										font-weight: 400 !important;
										margin-bottom: 10px !important;
										width: 49%;
										padding-left: 30px !important;
										display: inline-block !important;
									}
									.menu-article-wrapper{
										display: flex;
										flex-wrap:wrap;
										.news-item{
											width: 25%;
											max-width: 200px;
											margin: 0 0px 0px 30px;
											@media screen and (max-width: 1160px){
												width:33%;
											}
											&:last-child{
												@media screen and (max-width: 1160px){
													display: none;
												}
											}
											a{
												display: block;
											}
											.menu-item-img{
												min-height: 117.6px;
											}
											.title-block{
												min-height: 38.4px;
												.title{
													margin: 0;
													margin-bottom: 10px;
													a{
														color:$sub-menu-title;
														font-size: 15px;
														font-family: $primary-font;
														text-transform: none;
														line-height: 1.3em;
														&:hover{
															color:$teal;
															text-decoration: underline;
														}
													}
												}
											}
											.sub-title-block{
												min-height: 55.2px;
												p{
													font-size: 13px;
													color:#615f5f;
												}
											}
											.continue-button-block{
												min-height: 23.2px;
												.continue-read{
													font-size: 14px;
													color:#4c8680;
													text-transform: capitalize;
													margin-top: 10px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.menu-item{
				width:auto;
				&.current-menu-item{
					a{
						color:$teal;
					}
				}
				@media screen and (max-width: 1024px){
					width: 50%;
					order:1;
				}
				@media screen and (max-width: 992px){
					width: 100% !important;
					text-align: center;
					margin-bottom: 35px;
				}
				&.menu-nav{
					@media screen and (max-width: 992px){
						display: none;
					}
				}
				&.search-menu{
					width: 33.3%;
					form {
						position: relative;
					}
					.search-submit {
						display: block;
						opacity: 0;
						width: 50px;
						height: 100%;
						position: absolute;
						right: 0;
						top: 0;
					}
					@media screen and (max-width: 992px){
						width: 100%;
						order:2;
						margin-top: 35px;
						text-align: center;
					}
					@media screen and (max-width: 992px){
						margin: 0;
					}
					input{
						font-size: 14px;
						font-family: $primary-font;
						width: 300px;
						outline: none !important;
						background-color: $grey;
						color:$light-grey !important;
						border-radius: 10px;
						border:none;
						box-shadow: none !important;
						&:hover,&:active,&:focus{
							outline: none;
							color:$light-grey !important;
							box-shadow: none !important;
						}
					}
					i{
						color:$light-grey !important;
					}
				}
				&.main-logo{
					width:33.3%;
					img{
						display: block;
						margin: 0 auto;
						max-width: 100%;
						height: auto;
					}
				}
				ul{
					padding: 0;
					list-style-type: none;
					margin: 0;
					li{
						display: inline-block;
						a{
							font-size: 14px;
							text-transform: uppercase;
							color:$white;
						}
						&:first-child{
							margin-right: 25px;
						}
						&.active{
							a{
								color:$teal;
							}
						}
					}
				}
			}
		}
	}
}


.main-wrapper{
	position: relative;
	&.pushable{
		position: fixed;
	}
}

.mobile-button-wrapper{
	display: none;
	@media screen and (max-width: 992px){
		display: block;
	}
	.open-btn{
		display: block;
		padding: 10px 15px 3px;
		margin-bottom: -3px;
		text-align: right;
		background: #000;
		&.active{
			display: block;
			visibility: visible;
		}
		&:before{
			content: '\f333';
			font-family: 'dashicons';
			font-size: 24px;
			color: #fff;
			font-size: 40px;
			vertical-align: middle;
		}
	}
}


.mobile-overlay{
	&.active{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 998;
		background: rgba(0,0,0, 0.7);
		@media screen and (min-width: 992px){
			display: none;
		}
	}
}

body.admin-bar{
	.mobile-menu-wrapper{
		&.open{
			margin-top: 46px;
		}
	}
}

.mobile-menu-wrapper{

	background: $black;
	position: fixed;
	right: 0;
	transform: translate(100%, 0);
	transition: transform 0.3s;
	top: 0;
	width: 50%;
	z-index: 999;
	height: 100%;
	overflow: auto;
	min-width: 250px;
	&.open{
		transform:translate(0, 0);
	}
	@media screen and (max-width: 992px){
		display: block;
		text-align: right;
	}

	.close-btn{
		text-align: left;
		display: none;
		padding: 20px 10px;
		background: #201F1F;
		&.active{
			display: block;
		}
		&:before{
			content: '\f158';
			font-family: 'dashicons';
			font-size: 24px;
			color: #fff;
			font-size: 40px;
			vertical-align: middle;
		}
	}
	.mobile-menu{
		display: none;
		&.open{
			display: block;
		}
	}
	.menu-mobile-top-container,
	.menu-mobile-menu-bottom-container {
		ul{
			margin: 0;
			padding: 15px;
			list-style-type: none;
			text-align: left;
			li{
				&.current_page_item a {
					color: $teal;
				}
				padding: 10px 0;
				a{
					&.mega-current-menu-item {
						color: $teal;
					}
					color:$white;
					display: block;
					font-size: 16px;
				}
			}
		}
	}
	.menu-mobile-top-container{
		ul{
			li{
				a{
					text-transform: uppercase;
					font-size: 18px;
				}
			}
		}
	}
}