main{
	background-color: $main-bg;
	.content-wrapper{
		padding-top: 65px;
		padding-bottom: 50px;
		@media screen and (max-width: 992px){
			padding-bottom: 50px;
		}
		.grid{
			margin-top:0 !important;
			margin-bottom:0 !important;
			.column{
				padding: 0 !important;
				@media screen and (max-width: 992px){
					margin-bottom: 25px;
				}
			}
		}
		.page-content{
			padding: 30px 35px;
			background-color: $white;
			border-radius: 10px;
			.header-content{
				font-size: 30px;
				font-weight: 300;
				margin-bottom: 50px;
				font-family: 'Open Sans', sans-serif;
				text-transform: capitalize;
			}
		}

	}
}




.advert-wrapper {
	text-align: center;
	overflow: hidden;
}

/* OWL Carousel */
.products-wrapper{
	.owl-nav{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0;
		top: calc(50% - 19px);
		transform: translate(0, -50%);
		.owl-prev,.owl-next{
			border-radius: 50%;
			background-color: #91AFAC;
			font-size: 24px;
			height: 46px;
			width: 46px;
			margin: 0;
			position: relative;
			i{
				line-height: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin: 0;
			}
			&:hover{
				background-color: #91AFAC;
			}
		}
		.owl-prev{
			left: -20px;
		}
		.owl-next{
			right: -20px;
		}


		@media (min-width: 992px) {
			.owl-prev{
				left:-60px;
			}
			.owl-next{
				right:-60px;
			}
		}

	}
}


.short-pagination-wrapper{
	text-align: center;
	margin-top: 35px;
	.pagination-controls{
		display: flex;
		max-width: 163px;
		align-items:center;
		margin: 0 auto;
		border-radius: 10px;
		span{
			font-size: 18px;
			width: 50%;
			color:#4E6D6A;
			padding: 10px 0px;
			border: 1px solid #4E6D6A;
			position: relative;
			&:first-child{
				border-top-left-radius:10px;
				border-bottom-left-radius:10px;
				border-right: none;
			}
			&:last-child{
				border-top-right-radius:10px;
				border-bottom-right-radius:10px;
				border-left:none;
			}

			&.start{
				background-color: $white;
			}
			&.end{
				background-color: $white;
			}
			&.active{
				background-color: #4E6D6A;
				&.both{
					background-color: #4E6D6A !important;
					color:#fff !important;
					&:first-child{
						border-right: 1px solid #fff;
					}
					&:last-child{
						border-left: 1px solid #4E6D6A;
					}
					a{
						color:#fff;
					}
				}
				a{
					color:$white;
				}
			}
		}
	}
}


body.blog{
	.tablet-hidden{
		@media screen and (max-width: 992px){
			display: block !important;
		}
	}
}

body.search, body.blog, .single-post, .single-deals, .home{
	.ui.container.grid{
		@media screen and (max-width: 768px){
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
}

/* body{
	&.page-template-helpful-template{
		.content-wrapper{
			.ui{
				&.container{
					@media screen and (max-width: 480px){
						margin-left: 0 !important;
						margin-right: 0 !important;
					}
				}
			}
		}
		.page-content{
			@media screen and (max-width: 480px){
				padding: 30px 15px;
			}
		}
	}
} */
//
//
//.JS-homePage-carousel{
//	.owl-stage-outer{
//		.owl-stage{
//			.owl-item{
//				width:25% !important;
//				.product-column{
//					width:100%;
//					height:100%;
//				}
//			}
//		}
//	}
//}