.article-news {
  padding: 25px 30px 30px;
  &.article-news-wrapper{
   @media (min-width : 992px) {
    padding-bottom: 100px;
  }
}

background-color: $white;
border: 1px solid #E0E0E0;
border-radius: 10px;
margin-bottom: 30px;
.date-news {
  font-size: 13px;
  color: #888;
  margin-bottom: 35px;
  display: inline-block;
}
.back-buttons {
  font-size: 12px;
  color: $back-link-color;
  position: relative;
  margin-bottom: 25px;
  display: block;
  i {
    font-size: 14px;
    margin-right: 5px;
  }
}
.title {
  font-size: 30px;
  color: $teal;
  margin-bottom: 10px;
  line-height: 1.3;
  font-family: Lato, sans-serif;

}
.single-deals & .title {
  color: $text-color;
}
.sub-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #696464;
  font-family: Lato, sans-serif;
  font-style: italic;
  @media screen and (max-width: 565px){
    margin-bottom: 0;
  }
}
.news-details {
  padding: 10px 0px;
  border-bottom: 1.5px solid $news-details-border;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 565px){
    flex-direction:column;
  }
  .description {
    font-size: 13px;
    line-height: 1.5;
    width: 40%;
    color: #888 !important;
    font-family: 'Lato', sans-serif !important;
    @media screen and (max-width: 565px){
      width: 100%;
    }
    a {
      color: #888;
    }
    span {
      display: block;
      margin-bottom: 0;
      a {
        color: #888 !important;
        font-family: 'Lato', sans-serif;
      }
    }
  }
  .social-buttons {
    width: 60%;
    text-align: right;
    padding-right: 20px;
    @media screen and (max-width: 565px){
      width: 100%;
      text-align: left;
      padding: 0;
      margin-top: 10px;
      .ssba-wrap{
        & > div{
          text-align: left !important;
        }
      }
    }
    a {
      position: relative;
      width: 35px;
      display: inline-block;
      height: 35px;
      background-color: #969292;
      color: $white;
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      vertical-align: middle;
      &:hover {
        background-color: $teal;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
      img {
        display: none !important;
      }
      &:before {
        font-family: Icons;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.ssba_pinterest_share:before {
        content: "\f231";
      }
      &.ssba_facebook_share:before {
        content: "\f09a";
      }
      &.ssba_twitter_share:before {
        content: "\f099";
      }
      &.ssba_email_share:before {
        content: "\f003";
      }
    }
  }
}
.news-content {
  .ssba {
    display: none!important;
  }
  .social-buttons .ssba-wrap {
    display: block!important;
  }
  .section{
    margin: 0 -30px;
    @media screen and (min-width: 992px){
      display:none;
    }
    .info-price-box{
      text-align: center;
      border-radius: 0;
      padding: 20px 20px 80px 15px;
      min-height: auto;
      background-image: none;
      &:before{
        display: none;
      }
      .price-wrapper{
        margin-bottom: 0;
        .price{
          padding: 0;
          margin-bottom: 0;
        }
      }
      .old-price-wrapper{
        margin-bottom: 5px;
        .old-price{
          padding: 0;
          margin-bottom: 0;
          font-size: 18px;
        }
      }
      .free-shipping-wrapper{
        .free-shipping{
          padding: 0;
          font-size: 16px;
        }
      }
      .social-buttons{
        padding: 0;
        .ssba-wrap{
          div{
            text-align: center !important;
          }
        }
      }
      .price-button-wrapper{
        position: absolute;
        width: 100%;
        margin: 0;
        bottom:-1px;
        left: 0;
        a{
         border-radius: 0;
       }
     }
     .discount {
      margin-bottom: 30px;
      border-radius: 10px;
      font-size: 16px;
    }
  }
  .title{
    color:$white;
  }
}

h3 {
  margin-bottom: 20px;
  color: $black;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}
}
}

.comment-wrapper {
  .title {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #4b4f56;
    border-bottom: 1.5px solid #dbdbdb;
  }
}

.newsletter-wrapper {
  .hide-form {
    .es_caption,
    .es_lablebox,
    .es_textbox,
    .es_button {
      display: none !important;
    }
  }
  .es_lablebox {
    display: none;
  }
  padding: 10px 0;
  color: $white;
  background: #4C4C4C;
}

.newsletter-wrapper {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    @media screen and (max-width: 1210px) {
      flex-wrap: wrap;
    }
    .es_caption {
      padding: 0;
      font-size: 18px;
      @media screen and (max-width: 1210px) {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    .es_textbox, .es_button {
      padding: 0;
    }
    .es_textbox {
      margin-left: 30px;
      @media screen and (max-width: 767px) {
        margin: 0;
      }
      input {
        font-size: 16px;
        font-family: $primary-font;
        width: 300px;
        outline: none !important;
        background-color: $white;
        color: #737373 !important;
        border-radius: 3px;
        border: 3px solid #fff;
        box-shadow: none !important;
        padding: 12px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
        @media screen and (max-width: 530px) {
          width: 180px;
        }
      }
    }
    .es_button {
      input {
        font-family: $primary-font;
        color: $white;
        font-size: 16px;
        background-color: #3D3D3D;
        box-shadow: none !important;
        padding: 12px;
        border: 3px solid #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:hover {
          background-color: #4C4C4C;
        }
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
        @media screen and (max-width: 530px) {
          width: 100px;
        }
      }
    }
  }
  .es_msg {
    color: $white;
  }
}

.featured-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  min-height: 400px;
  @media screen and (max-width: 768px){
    flex-direction:column;
    position: relative;
  }
  .featured-thumb-wrapper {
    flex: 1 1 auto;
    position: relative;
    .text {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: $white;
      z-index: 7;
      text-transform: uppercase;
      font-weight: 700;
      padding: 3px 10px;
      background-color: #4E6D6A;
      @media screen and (max-width: 768px){
        right: 10px;
        left: auto;
        top: 10px;
        bottom: auto;
      }
    }
  }
  .featured-title-wrapper {

    flex: 0 0 300px;
    background: $white;
    border: 1px solid $contact-form-border;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media screen and (max-width: 768px){
      position: absolute;
      width: 100%;
      left: 0;
      background: rgba(0,0,0, 0.7);
      z-index: 5;
      bottom: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 0;
    }
/*     .bullets-wrapper{
  @media screen and (max-width: 768px){
    display: block !important;
    background-color: #22211F;
    text-align: center;
    padding: 20px 15px;
    .simple-bullets{
      display: inline-block;
      height: 8px;
      width: 8px;
      background: $white;
      border: 1px solid $white;
      border-radius: 50%;
      opacity: 0.7;
      &:not(:last-child){
        margin-right: 5px;
      }
      &.active{
        opacity: 1;
      }
    }
  }
} */
ul {
  padding: 5px 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

li {
  display: flex;
  align-items: center;
  height: 20%;
  max-height: 20%;
  flex: 0 0 20%;
  border-bottom: 1px solid $contact-form-border;
  @media screen and (max-width: 768px){
    display: none;
  }
  &:last-child:nth-child(5) {
    border-bottom: none;
  }
  &.active {
        //background: $teal;
        position: relative;
        @media screen and (max-width: 768px){
          display: block;
          border: 0;
          a{
            color:$white;
            text-align: center;
            font-size: 20px;
            padding: 15px 10px;
            line-height: 1.2;
          }
        }
        &:before {
          position: absolute;
          content: '';
          display: block;
          z-index: 6;
          left: -55px;
          border: 20px solid transparent;
          border-right: 20px solid $white;
          @media screen and (max-width: 768px){
            display: none;
          }
        }
      }
    }
    a {
      display: block;
      padding: 0;
      font-size: 15px;
      line-height: 1.5;
      color: #4e6d6a;
      font-family: Lato, sans-serif;
      &:hover {
        color: $teal;
        text-decoration: underline;
      }

    }
  }
  .featured-thumb {
    border: 1px solid $contact-form-border;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    @media screen and (max-width: 768px){
      border-top-right-radius: 10px;
    }
    &.active {
      display: block;
      z-index: 5;
    }
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.mobile-featured-wrapper{
  position: relative;
  margin-bottom: 20px;
  .owl-carousel{
    .owl-stage{
      display: block;
    }
  }
  .item{
    .mobile-featured-thumb-wrapper{
      .text{
       position: absolute;
       right: 10px;
       top: 10px;
       color: #fff;
       z-index: 7;
       text-transform: uppercase;
       font-weight: 700;
       padding: 3px 10px;
       background-color: #4E6D6A;
     }
     .featured-thumb{
      min-height: 350px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}
.mobile-featured-title-wrapper{
  position: absolute;
  bottom: 64px;
  padding: 20px;
  background: rgba(0,0,0, 0.7);
  text-align: center;
  width: 100%;
  left: 0;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      a{
        color:$white;
      }
    }
  }
}
.owl-dots{
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left:50%;
  transform:translate(-50%, 0);
  width: 100%;
  background: #22211F;
  padding: 20px 10px;
  .owl-dot{
    vertical-align: middle;
    span{
      background: #869791 !important;
    }
    &.active{
      span{
        background: #D6D6D6 !important;
      }
    }
  }
}
}