.info-price-box {
  padding: 40px 20px 0px 15px;
  min-height: 560px;
  color: $white;
  background-color: $info-price-bg;
  background-image: url('../images/info-price-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  text-transform: uppercase;
  font-family: $primary-font;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-bottom: 15px;
  position: relative;
  .discount {
    border: 2px solid $teal;
    border-radius: 2px;
    background: transparent;
    transition: 0.3s background;
    &:hover {
      background: $teal;
    }
  }
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: -140px;
    border: 70px solid transparent;
    border-right: 70px solid $info-price-bg;
  }
  p {
    line-height: 1;
  }
  .price-wrapper{
    margin-bottom: 15px;
    min-height: 40px;
    .price {
      font-size: 40px;
      padding-left: 25px;
      text-transform: none;
    }
  }
  .old-price-wrapper{
   margin-bottom: 15px;
   min-height: 24px;
   .old-price {
    font-size: 24px;
    text-transform: capitalize;
    color: $info-price-color;
    padding-left: 25px;
    span {
      text-decoration: line-through;
    }
  }
}
.free-shipping-wrapper{
  min-height: 18px;
  margin-bottom: 15px;
  .free-shipping {
    font-size: 18px;
    color: $info-price-color;
    text-transform: capitalize;
    padding-left: 25px;
  }
}
.price-button-wrapper{
 margin-bottom: 40px;
 min-height: 72px;
 .price-button {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 26px;
  line-height: 1;
  padding: 20px 0px;
  background-color: $info-price-button-bg;
  border: 3px solid $info-price-button-border;
  border-radius: 10px;
}
}
.social-buttons {
  margin-bottom: 30px;
  .title {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .ssba-wrap {
    div {
      text-align: center !important;
      a {
        position: relative;
        width: 30px;
        display: inline-block;
        height: 30px;
        background-color: $info-price-button-bg;
        color: $text-color;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        vertical-align: middle;
        &:not(:last-child) {
          margin-right: 15px;
        }
        &:before {
          font-family: Icons;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 1;
        }
        &.ssba_pinterest_share:before {
          content: "\f231";
        }
        &.ssba_facebook_share:before {
          content: "\f09a";
        }
        &.ssba_twitter_share:before {
          content: "\f099";
        }
        &.ssba_email_share:before {
          content: "\f1e0";
        }
        img {
          display: none !important;
        }
      }
    }
  }
}
.discount-block{
  text-align: center;
}
.discount {
  font-size: 18px;
  padding: 8px 10px;
  border: 3px solid $info-price-button-border;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
}
}

.js-copy {
  cursor: pointer;

}