
.products-section{
  max-width: 100%;
  @media screen and (max-width: 480px){
    padding: 0 !important;

  }
}


.products-wrapper {
  .title-wrapper{
    @media screen and (max-width: 480px){
      position: relative;
      padding: 14px 0px;
      &:before{
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #5a5454;
        z-index: 0;
        top:50%;
        left: 0;
        transform:translate(0, -50%);
      }
    }
    .title {
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #5a5454;
      text-align: left;
      padding: 14px 0px 25px;
      text-transform: capitalize;
      line-height: 1;
      margin-top: 25px;
      @media screen and (max-width: 480px){
        padding: 0;
        position: relative;
        text-align: center;
        display:block;
        max-width: 100%;
        width: 60%;
        margin: 0 auto;
        background-color: #F3F1F1;
        line-height: 1.4;
      }
    }
  }
}

.products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  @media screen and(max-width: 480px) {
    justify-content: center;
  }
}

.product-img {
  height: 184px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
  > img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.owl-loaded {
  .owl-item {
    display: flex;
  }  
}

.product-column{
  padding: 5px;
  max-width: 25%;
  flex: 1 0 25%;
  .owl-loaded & {
    max-width: 100%!important;
  }
  @media screen and (max-width: 992px){
    max-width: 50%;
    flex: 1 0 50%;
  }
  @media screen and (max-width: 480px){
    max-width: 100%;
    flex: 1 0 100%;
  }
}

.product-card {
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  background-color: $white;
  width: 100%;
  height: 100%;
  position: relative;
  .card-content {
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .card-details {
    max-width: 215px;
    margin: 0 auto;
    p {
      margin: 0;
    }
    .manufacturer {
      display: block;
      font-size: 17px;
      color: $url-title-card;
      margin-bottom: 10px;
      font-style: italic;
    }
    .price {
      font-size: 25px;
      color: $price-color-info;
      font-weight: 700;
      margin-bottom: 10px;
      sup {
        text-decoration: line-through;
        color: #5c6565;
        font-size: 65%;
        font-weight: 300;

      }
    }
    .description {
      color: #3c3939;
      font-size: 15px;
      margin-bottom: 10px;
      line-height: 1.2;
      a {
        color: #3c3939;
        &:hover {
          color: $teal;
          text-decoration: underline;
        }
      }
    }
    .discount {
      font-size: 15px;
      color: #716f6f;
      font-style: italic;
    }
  }
  .card-buttons {
    display: flex;
    border-top: 1px solid #E0E0E0;
    position: absolute;
    bottom: 0;
    width: 100%;
    a {
      text-transform: uppercase;
      font-size: 17px;
      color: $share-view;
      text-align: center;
      font-weight: 400;
      width: 50%;
      padding: 15px 0px;
      line-height: 1;
      &:first-child {
        border-right: 1px solid #E0E0E0;
      }
    }
  }
}

.featured-posts-container {
  display: flex;
  flex-wrap: nowrap;
  margin:-5px;
  margin-bottom: 30px;
  @media screen and (max-width: 992px){
    flex-wrap:wrap;
    //justify-content: center;
  }
  @media screen and (max-width: 480px){
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .trending-column{
    padding: 5px;
    width:25%;
    @media screen and (max-width: 992px){
      width: 50%;
    }
    @media screen and (max-width: 480px){
      width: 100%;
    }
  }
  .trand-article-advert {
    flex: 1 0 auto;
    margin: 0px 0px 0px 20px;
    align-self: center;
    @media screen and (max-width: 480px){
      margin: 0 auto;
      overflow: hidden;
      padding:20px;
      max-width: 100%;
      iframe{
        //width: 100% !important;
        max-width: 100%;
      }
    }
  }
  .tranding-news {
    width: 100%;
    height: 100%;
    background-color: $white;
    position: relative;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    &:first-child {
      margin-left: 0;
    }
    a {
      img {
        max-width: 100%;
        width: 100%;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
      }
    }
    .featured-title {
      margin: 0;
      font-size: 15px;
      font-family: $primary-font;
      font-weight: 400;
      color: #3c3939;
      padding: 20px;
      margin-bottom: 50px;
      @media screen and (max-width: 480px){
        max-width: 215px;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        padding: 20px 0px;
      }
      a {
        color: inherit;
        &:hover{
          color:$teal;
          text-decoration: underline;
        }
      }
    }
    .continue-read {
      display: block;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      padding: 15px 0px;
      color: $share-view;
      border-top: 1px solid #E0E0E0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.owl-item .product-card {
  width: 100%;
  height: 100%;
}

.owl-carousel {
  display: flex !important;
  margin: -5px;
  //&.JS-homePage-carousel{
  //  //max-height: 418px;
  //  //overflow: hidden;
  //  flex-wrap: wrap;
  //
  //  &:not(.owl-loaded) {
  //    min-height: 455px;
  //    max-height: 455px;
  //    overflow: hidden;
  //    .owl-stage{
  //      .owl-item{
  //        min-height: 455px !important;
  //  .product-card{
  //    min-height: 455px;
  //  }
  //      }
  //    }
  //  }
  //}
  &.JS-featured-carousel-desctop{
    .owl-stage{
      display: block;
    }
  }
  @media screen and (max-width: 992px){
   flex-wrap:wrap;
 }
 &:not(.owl-loaded) {
  overflow: hidden;
}
.owl-stage{
  display: flex;
}
> .product-card {
  max-width: calc(20% - 8px);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(20% - 8px);
  @media screen and (max-width: 992px){
    max-width: calc(33% - 8px);
    flex-basis: 33%;
  }
  @media screen and (max-width: 714px){
    max-width: calc(50% - 10px);
    flex-basis:50%;
  }
  @media screen and (max-width: 480px){
    flex-basis:100%;
    max-width: 100%;
  }
}

}
.owl-carousel .owl-item img {
  width: auto!important;
}
.owl-carousel.owl-loaded {
  display: block !important;
}

.owl-item {
  padding: 1px !important;
}

.share-section-popup {
  background-color: #333333 !important;
  border: none !important;
  &:before {
    background-color: #333333 !important;
    box-shadow: none !important;
  }
  .share-title {
    color: #fff;
  }
  a {
    position: relative;
    width: 35px !important;
    display: inline-block;
    height: 35px;
    background-color: #fff !important;
    color: #333333 !important;
    text-align: center !important;
    border-radius: 50%;
    font-size: 20px !important;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 5px !important;
    }
    &:before {
      font-family: Icons;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.ssba_pinterest_share:before {
      content: "\f231";
    }
    &.ssba_facebook_share:before {
      content: "\f09a";
    }
    &.ssba_twitter_share:before {
      content: "\f099";
    }
    &.ssba_email_share:before {
      content: "\f003";
    }
    img {
      display: none !important;
    }
  }
}

.JS-homePage-carousel {
  max-width: calc(100% + 10px);
  width:calc(100% + 10px);
}