.products-card-wrapper + .advertising-banner-inline {
	margin: 15px 0;
}
.advertising-banner-inline {
	background-color: $advertising-banner-bg;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	@media screen and (max-width: 992px){
		//padding: 20px 0px;
	}
}
.advertising-banner{
	padding: 30px 10px 40px;
	background-color: $advertising-banner-bg;
	.advert-wrapper{
		.deals-widget{
			text-align: center;
		}
	}
}

.product-news-content{
	padding: 15px 0px;
	background-color: $main-bg;
}


.features-deals-block{
	padding: 0px 0px 15px;
	&.dealv-widget{
		@media screen and (max-width: 992px){
			text-align: center;
		}
	}
	.title{
		font-size: 18px;
		color:$text-color;
		padding: 10px 0px;
		margin-bottom: 10px;
		border-bottom: 5px solid $product-title-border;
	}
	.features-details{
		margin-bottom: 10px;
		display: flex;
		background: $white;
		.widget-features-details-img{
			a{
				height: 80px;
				width:80px;
				overflow: hidden;
				position: relative;
				display: block;
				margin-right: 10px;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		> a {
			font-size: 0;
			line-height:0;
		}
		img{
			margin-right: 10px;
		}
		p{
			line-height: 1.4;
			margin-top: 5px;
			a{
				font-size: 14px;
				color:$text-color;
				display: block;
				&:hover{
					color:$teal;
				}
			}
			span{
				display: block;
			}
		}
		.price {
			font-weight:bold;
			color: $price-color-info;
		}
	}
}


.post-block{
	+ .advertising-banner {
		margin-bottom: 15px;
		border-radius: 5px;
		text-align: center;
	}
	padding: 0;
	background-color: $white;
	border-radius: 10px;
	margin-bottom: 20px;
	//border:1px solid #E0E0E0;
	img{
		width: 342px;
		display: block;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
	}
	.post-content{
		text-align: left;
		padding: 30px;
		border:1px solid #E0E0E0;
		border-top:none;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		@media screen and (max-width: 480px){
			position: relative;
			padding: 20px;
		}
	}
	.post-buttons{
		margin: 30px 0px;
		@media screen and (max-width: 480px){
			margin: 20px 0px;
			margin-bottom: 50px;
		}
		.post-categories{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				display: inline-block;
				margin-bottom: 3px;
			}
		}
		a{
			display: inline-block;
			color:$white;
			text-transform: uppercase;
			font-size: 14px;
			padding: 10px;
			background-color: $text-color;
			line-height: 1;
			&:hover{
				background-color: $teal;
			}
			&:last-child{
				padding: 10px 20px 10px 15px;
				@media screen and (max-width: 480px){
					padding: 5px 7px;
				}
			}
		}
	}
	.post-details{
		a{
			color:$post-date-color;
		}
	}
	.post-title{
		font-size: 30px;
		color: #4e6d6a;
		line-height: 1.5;
		font-family: Lato, sans-serif !important;
		@media screen and (max-width: 992px){
			text-align: center;
		}
		@media screen and (max-width: 480px){
			font-size: 20px;
			line-height: 1.2;
			color:#302C29;
		}
		&:hover{
			text-decoration: underline;
			//color:$teal;
		}
	}
	.post-date{
		font-size: 12px;
		color:$post-date-color;
		padding: 20px 0px;
		display: block;
		line-height: 1;
	}
	.post-description{
		font-size: 20px;
		color:#696464;
		//font-style: italic;
		line-height: 1.5;
		font-family: Lato, sans-serif;
		@media screen and (max-width: 480px){
			display: none;
		}
	}
	.view-button-wrapper{
		text-align: right;
		margin-top: 30px;
		@media screen and (max-width: 480px){
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			text-align: center;
		}
	}
	.view-button{
		font-family: Lato, sans-serif;
		color:$white;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 14px;
		background-color: $post-view-button;
		display: inline-block;
		line-height: 1;
		@media screen and (max-width: 480px){
			display: block;
			padding: 15px 20px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			font-size: 20px;
		}
		&:hover{
			opacity:0.8;
		}
	}
	&.last-post{
		img{
			margin-bottom: 0;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		.post-content{
			text-align: center;
		}
		.post-details{
			text-align: center;
		}
	}
	&.even-post, &.odd-post{
		display: flex;
	}
	&.even-post{
		.post-image{
			order:1;
			margin-right: 15px;
		}
		.post-content{
			order:2;
		}
	}
	&.odd-post{
		.post-image{
			order:2;
		}
		.post-content{
			order:1;
		}
	}
}

.sidebar-deals-block-wrap{
	@media screen and (max-width: 992px){
		display: none;
	}
}

.post-image-mobile {
	display: block;
}

.post-image-desktop {
	display: none;
}

@media screen and (min-width: 480px){
	.post-image-mobile {
		display: none;
	}
	.post-image-desktop {
		display: block;
	}
}

