.right-sidebar{
	.search-res-block{
		&.search-filter{
			@media screen and (max-width: 992px){
				display: none;
			}
		}
	}
}

.search-res-block{
	display: block;
	width: 100%;
	border-radius: 10px !important;
	padding: 25px 30px 30px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 10px;
	font-size: 24px;
	color:#609d97;
	&.search-filter {
		.field > label {
			font-weight: bold;
			margin-top: 10px;
			color: $black;
			display: block;
			font-size: 15px;
		}
		padding: 15px;
		.search-submit {
			margin-top: 15px;
			background: $teal;
			color: #fff;
		}
	}

}

.search-products-block{
	display: flex;
	@media screen and (max-width: 768px){
		flex-direction:column;
		align-items: center;
	}
	@media screen and (max-width: 480px){
		padding: 25px 15px 30px;
	}
	.search-img{
		position: relative;
		height: 135px;
		width: 125px;
		overflow: hidden;
		display: block;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
		span{
			position: absolute;
			top:50%;
			left: 0;
			transform:translate(0, -50%);
			font-size: 18px;
			text-transform: uppercase;
			color:$white;
			display: inline-block;
			text-align: center;
			width: 100%;
			line-height: 1;
			padding: 10px 0px;
			background: rgba(146,147,139, 0.8);
		}
	}
	.search-result-content{
		display: flex;
		flex-direction:column;
		justify-content:space-between;
		margin-left: 15px;
		@media screen and (max-width: 768px){
			align-items: center;
			margin-left: 0;
		}
	}
	a{
		img{
			max-width: 100%;
			display: block;
		}
	}
	.manufacturer{
		font-size: 14px;
		text-transform: uppercase;
		color:#8b8a8a;
		@media screen and (max-width: 768px){
			display: none;
		}
	}
	.title{
		font-size: 18px;
		color: $black;
		margin: 0;
		@media screen and (max-width: 768px){
			text-align: center;
			margin-bottom: 15px;
		}
		a{
			color:inherit;
			text-transform: capitalize;
			&:hover{
				color:$teal;
				text-decoration: underline;
			}
		}
	}
	.price{
		margin-bottom: 5px;
		display: inline-block;
		@media screen and (max-width: 768px){
			margin-bottom: 15px;
		}
	}
	.old-price{
		margin-bottom: 10px;
		display: inline-block;
		font-size: 12px;
		text-decoration: line-through;
		color:#8b8a8a;
		@media screen and (max-width: 768px){
			margin-bottom: 15px;
		}
	}
	.code, .free-shipping{
		font-size: 14px;
		line-height: 1;
		color:#6f6e6e;
		text-transform: uppercase;
		display: inline-block;
	}

	.code {
		padding: 5px;
		color: #fff;
		background: $teal;
		display: inline-block;
	}

	.free-shipping{
		margin-bottom: 0px;
		margin-right: 5px;
		@media screen and (max-width: 768px){
			margin-bottom: 20px;
			margin-right: 0;
		}
	}
	.sale-details{
		line-height: 1;
		@media screen and (max-width: 768px){
			text-align: center;
		}
	}
}


.serach-results-wrapper{
	.search-products-block{
		margin-bottom: 7px;
	}
}

.search-mobile-block{
	@media screen and (max-width: 992px){
		display: block !important;
	}
}

.mobile-manufacturer{
	.manufacturer{
		@media screen and (max-width: 768px){
			display: block !important;
		}
	}
}