.left-widget-nav{
	font-size: 24px;
	color:$teal;
	margin-right: 10px;
	@media screen and (max-width: 992px){
		margin: 0;
	}
	.header-widget{
		padding: 25px 0px;
		text-align: center;
		background-color: $white;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		margin-bottom: 2px;
	}
	.widget-nav-list{
		background-color: $white;
		min-height: 450px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		padding: 0;
		list-style-type: none;
		margin: 0;
		@media screen and (max-width: 992px){
			min-height: auto;
			padding: 15px 0px;
		}
		li{
			&.current-menu-item{
				a{
					color:$teal;
					&:hover{
						text-decoration: none;
					}
				}
			}
			@media screen and (max-width: 992px){
				display: block;
			}
			a{
				font-size: 16px;
				display: block;
				padding: 20px 5px;
				text-align: center;
				color:$text-color;
				text-transform: capitalize;
				&:hover{
					color:$teal;
					text-decoration: underline;
				}
				@media screen and (max-width: 992px){
					padding: 10px 5px;
				}
			}
			&.active{
				a{
					color:$teal;
				}
			}
		}
	}
}


.wrapper-404 {
	text-align: center;
	color: $text-color!important;
	padding: 200px 100px!important;
	h1 {
		font-size: 80px;
		margin-bottom: 1em;
		strong {
			color: $teal;
		}
	}
	p {
		font-size: 20px;
		font-weight:normal;
		margin-bottom: 1em;
	}
	a {
		color: $teal;
	}
}